<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .item__container{
            width : 100vw;
            min-height : 100vh;
            display : flex;
            flex-direction: column;
        }
        .item{
            border : 2px solid black;
            background-color: palegreen;
        }
        button{
            width : 50%;

        }
    </style>
</head>
<body>
    <h1>상품 보여주기!</h1>
    <div class="item__container">
        <% for(let i=0; i<items.length; i++){ %>
            <div class="item" data-id="<%= items[i]._id %>">
                <p class="title">이름 : <%= items[i].title %></p>
                <p class="content">설명 : <%= items[i].content %></p>
                <p class="price">가격 : <%= items[i].price %></p>
                <button class="deleteButton">삭제</button>
                <!-- 내가 id를 보낸 상품을 삭제하는 api도 짜야지! -->
            </div>
        <% } %>
    </div>

    <script>
        const item = document.querySelectorAll('.item');
        const itemID = [];
        
        item.forEach((value,index) => {
            itemID.push(value.getAttribute('data-id')); //id를 다 넣었어!
            //클릭한 상품 id를 보내고 그걸 삭제시키는 fetch를 보내자!
            //DELETE : /items/:id => req.params
            value.addEventListener('click',()=>{
                alert(`선택상품 id >> ${itemID[index]}`)
                deleteFetch(itemID[index]);
            })
        })
        function deleteFetch(id){
            fetch(`/items/${id}`, {
                method : 'DELETE',
                //그냥 삭제하기를 원하는 상품의 id만 적어주면 돼!
                headers: {
                    "Content-type": "application/json",
                },
            })
                .then(() => {
                    window.location.href = '/index';
                })
                .catch(err => console.log(err))
        }
    </script>
</body>
</html>